psycopg2-binary==2.9.9
gunicorn==22.0.0
Flask==3.0.3
Flask-Bootstrap==3.3.7.1
Flask-CKEditor==1.0.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
Flask-Avatars==0.2.3
SQLAlchemy==2.0.31
Werkzeug==3.0.3
WTForms==3.1.2
