{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi there! I'm Muheez , an adept Python programmer specializing in Selenium Web Automation, Web development. With experience building real world, I excel in crafting efficient solutions tailored to your needs. I'm proficient in automating web tasks, creating dynamic web applications, and ensuring compatibility across devices and browsers.</p>
        <p>Let's collaborate to bring your project to life! Reach out, and let's discuss how I can help you achieve your goals.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}